* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
}

.menu {
    background: linear-gradient(lightblue, blue);
    padding: 0;
    margin: 0;

}

.menu li {
    list-style-type: none;
    border-left: 1px solid white;
}

.menu li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}

.menu li:last-child {
    margin-left: auto;
    border-left: none;
}

.menu li a:hover {
    background-color: darkblue;
}

/* PRODUCTS */
.products {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.products .product {
    background: linear-gradient(lightblue, blue);
    border-radius: 10px;
    color: white;
    text-align: center;
    position: relative;
    width: 20%;
    padding: 0.3rem 0;
    margin: 0.5rem;
}

.products .product img {
    width: 100%;
}

.product h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
}

.product .price {
    position: absolute;
    margin: 0;
    padding: 0.7rem;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 10px 0;
    left: 0;
    top: 0;
}

/* DETAIL */
.details {
    width: 70%;
    margin: 2rem auto;
    padding: 0;
}

.details>div {
    flex: 1;
}

.left {
    margin: 0;
    padding: 0;
}

.left img {
    width: 100%;
}

.left .thumb div {
    flex: 1;
}

.thumb>div {
    cursor: pointer;
}

.red {
    color: red;
}

.right {
    margin: 0;
    padding: 0;
}

.info {
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem;
}

.info:last-child {
    border: 1px solid red;
}

.info h3 {
    margin: 0;
    padding: 0;
}

.buttons button {
    cursor: pointer;
    width: 40px;
    height: 40px;
}
